.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.login{
    display: flex;
    position: relative;
    background-color: #FDCEDF82;
}
.login-title{
    font-size: 80px;
    line-height: 133px;
    margin-bottom: 10px;
}
.login-left-title {
    font-size: 25px;
    font-style: italic;
    line-height: 44px;
    margin-top: 30px;
    padding-right: 10px;
}
.login-left-float{
    float: right;
    font-size: 25px;
    font-style: italic;
    padding-left: 180px;
    
}
.login-left-img{
    width: 281px;
    height: 193px;
    top: 30%;
    position: absolute;
}
.login-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 420px;
    height: 357px;
    padding: 20px;
    background-color: white;
    border-radius: 30px 0px 0px 30px;
    padding-left: 70px;
    
}
.login-right-title{
    font-size: 30px;
    font-weight: 900;
    line-height: 58px;
}
.login-right-input{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 0.5px solid black;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    
}
.login-right-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}
.login-right-content p{
    font-size: 13px;
}
.login-right-link a{
    color: #000;
}
.login-right-btn{
    background: linear-gradient(0deg, #F2BED1, #F2BED1);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px;
    margin-top: 10px;
}
/* register */
.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.register{
    display: flex;
    position: relative;
    background-color: #FDCEDF82;
}
.register-title{
    font-size: 80px;
}
.register-link{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 40px;
    
}
.register-link a{
    color: #000;
}
.register-link span{
    margin: 0 20px;
}
.register-left-title {
    font-size: 25px;
    font-style: italic;
    line-height: 44px;
    margin-top: 30px;
    padding-right: 10px;
}
.register-left-float{
    float: right;
    font-size: 25px;
    font-style: italic;
    padding-left: 180px;
    
}
.register-left-img{
    width: 281px;
    height: 193px;
    top: 30%;
    position: absolute;
}
.register-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 460px;
    height: 357px;
    padding: 20px;
    background-color: white;
    border-radius: 30px 0px 0px 30px;
    padding-left: 70px;
    
}
.register-right-title{
    font-size: 25px;
    font-weight: 900;
    line-height: 58px;
}
.register-right-link{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}
.register-right-center{
    color: gray;
    font-size: 20px;
}
.register-right-input{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 0.5px solid black;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    
}
.register-right-link button{
    background-color: white;
    border-radius: 5px;
}
.register-right-link-btn{
    display: flex;
    padding: 3px;
    box-shadow: 2px 2px 5px #F2BED1;
}
.register-right-logo{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
.register-right-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}
.register-right-content p{
    font-size: 13px;
}
.register-right-link a{
    color: #000;
}
.register-right-btn{
    background: linear-gradient(0deg, #F2BED1, #F2BED1);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px;
    margin: 15px 0;
}
.register-right-bottom{
    width: 100%;
    display: flex;
    color: #000;
}
.register-right-bottom a{
    color: #000;
    font-size: 14px;
}
.register-right-footer{
    color: #E184A6 !important;
}