*{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    
}
button{
    background-color: transparent;
}
body{
    width: 100%;
}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
    height: 800px;
    background: linear-gradient(0deg, rgba(223, 35, 30, 0) 0, #F2BED1 100%);
}
body.active .burger::before {
    left: 0;
    top: 45%;
    transform: rotate(45deg);
  }
  body.active .burger {
    margin-left: 100%;
  }
  
  body.active .burger::after {
    left: 0;
    bottom: 50%;
    transform: rotate(135deg);
  }
    body.active .header-link-page{
    right: 0;
  }
  .burger-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 15px;
    height: 20px;
    margin-left: 10px;
    z-index: 40;
  }
  .burger-main{
    background: transparent;
  }
  .burger {
    width: 90%;
    left: 0;
    top: 50%;
    background: black;
    height: 2px;
    border-radius: 1px;
    transition: ease-in 0.2s;
  }
  body.active .burger::before {
    left: 0;
    top: 45%;
    width: 26px;
    transform: rotate(45deg);
  }
  body.active .burger {
    margin-left: 100%;
  }
  
  body.active .burger::after {
    left: 0;
    bottom: 50%;
    width: 26px;
    transform: rotate(135deg);
  }
  .burger::before {
    transition: ease-in 0.2s;
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    left: 0;
    top: 0%;
    background: black;
  }
  .burger::after {
    transition: ease-in 0.2s;
    content: "";
    position: absolute;
    width: 27px;
    height: 2.5px;
    left: 0;
    bottom: 0;
    background: black;
  }
  body.active .header-navbar {
    right: 0;
  }

main{
    margin: auto;
    padding: auto;
 
}
section{
    margin: 20px 0;
    margin: auto;
    padding: auto;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 70px;
    z-index: 100;
}
.header-logo img{
    width: 130px;
}
.header-navbar{
    padding: 80px 50px;
    position: absolute;
    width: 400px;
    right: -400px;
    top: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #fff;
    transition: ease-out 0.4s;
    z-index: 22;
}
.header-list-link-page{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column; 
    row-gap: 20px;
    color: #fff;
    width: 100%;
    height: 100vh;
}
.header-link-page{
    margin: 0 10px;
}
.header-link-page:hover a{
    color: #000;
    padding-left: 3px;
}
.header-link-page a{
    color: #848282;
    font-weight: 500;
    transition: all .2s;
}
.header-navbar-close{
    height: 40px;
    width: 40px;
}
.header-navbar-close ion-icon{
    font-size: 30px;
}
.header-list-control{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-control{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.header-control a ion-icon{
    font-size:25px;
    color: #000;
}

/* Slider */
.slider{
 width: 100%;
 height: 100vh;
 padding: 0 70px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.slider-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-content-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-content-text{
    padding: 30px;
    border-radius: 20px;
}
.image-slider-item{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-content-text-title{
    font-weight:900;
    padding: 20px 0;
    color: #383838;
    font-size: 3.2rem;
    width: 80%;
}
.slider-content-text-link:hover {
    scale: 1.1;
}
.slider-content-text-link {
  pointer-events: painted;
    float: left;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 30px;
    right: 40px;
    padding: 12px 20px;
    background: #f8528f;
    color: white;
    font-size: 15px;
    box-shadow: 2px 5px 15px #bdbdbd;
    border-radius: 30px;
    transition: all .2s;
  }
  .slider-content-text-des{
    color: #3e3e3e;
    font-size: 16px;
  }
  .slider-content-text-link a,
  .slider-content-text-link ion-icon {
    font-size: 25px;
    color: white;
    margin-right: 5px;
  }
  .slider-content-text-link a{
    font-size: 15px;
    font-weight: 600;
  }

/* product-trending */
.product-trending{
    padding: 20px 70px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.product-trending-container{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.trending-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.trending-header-top{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
}
.trending-header-bottom{
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}
.trending-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.trending-left{
    width: 40%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.trending-left-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 150px;
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    background: #F9F5F6;
}

.trending-left-text p{
   font-size: 35px;
   font-weight: bolder;
}
.trending-left-img{
    width: 100%;
    height: 100%;
}
.trending-left-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
.trending-right{
    width: 50%;
}
.trending-content-item-image,
.new-content-item-image{
    width: 100%;
}
.trending-right-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26%, 1fr));
    gap: 2rem;
}
.new-content-item-image img,
.trending-content-item-image img{
    width:100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
.new-content-item-text-name,
.trending-content-item-text-name{
    font-weight: 600;
}
.trending-content-item-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
}
.trending-right-button{
    float: right;
    margin-bottom: 50px;
    margin-right: 2rem;
}
.trending-right-button a{
    font-style: italic;
    padding: 15px 25px;
    background-color: #F2BED1;
    border-radius: 15px;
}
/* product new */
.product-new{
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.product-new-header{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.product-new-header-button{
   margin-top: 20px;
}
.product-new-header-text{
    font-size: 35px;
    font-weight: bolder;
}

.product-new-header-button a{
    font-style: italic;
    padding: 15px 25px;
    background-color: #F2BED1;
    border-radius: 15px;
}
.new-content-item-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-content-item-image img{
    width:80%;
}
.product-new-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    column-gap: 10rem;
    row-gap: 2rem;
    padding: 10px;
}

/* product-featured */
.product-featured{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 70px;
}
.product-featured-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}
.feature-img{
    width: 200px;
    height: 200px;
    top: 127px;
    left: 30px;
    border-radius: 40px;

}
.featured-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}
.feature-left-item{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.featured-left-item-content{
    margin-left: 20px;
}
.featured-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}
.feature-right-item{
    display: flex;
    align-items: center;
    padding: 20px;
}
.featured-left-item-price{
    font-weight: 501;
    width: 100%;
    text-align: center;
}
.featured-right-item-price{
    font-weight: 501;
    width: 100%;
    text-align: center;
}
.featured-right-item-content{
    margin-right: 20px;
}
.featured-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height:100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.featured-center-title{
    font-size: 50px;
    font-weight: 900;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;

}
.featured-center-btn{
    background: #F2BED1;
    width: 100px;
    height: 80px;
    top: 466px;
    left: 618px;
    border-radius: 20px;
    border: none;

}

/* footer */
footer {
    border-top: 1px solid var(--bs-gray-400);
    margin-top: 60px;
    height: 200px;
    padding: 50px 70px 50px 70px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(210, 67, 62, 0) 0, #F2BED1 100%);
  }
  footer .logo img{
    width: 170px;
  }
  footer .list-icon ion-icon {
    color: var(--bs-gray-700);
    font-size: 27px;
    margin: 4px;
    padding: 7px;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid var(--bs-gray-400);
  }
  footer .list-icon ion-icon:hover {
    color: var(--bs-orange);
    border: 1px solid var(--bs-orange);
  }
  footer .list-icon {
    width: 300px;
    display: flex;
    justify-content: center;
  }




  
  /* subscribe */
  .subscribe {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 40px;
    padding: 12px 15px;
    background: #f8528f;
    color: white;
    font-size: 15px;
    box-shadow: 2px 5px 15px #bdbdbd;
    border-radius: 30px;
    z-index: 1112;
  }
  .subscribe ion-icon {
    font-size: 30px;
    color: white;
    margin-right: 5px;
  }