*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    background-color:  #F9F5F6;
}
.test{
    height: 1000px;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 50px;
    max-width: 1440px;
}
.header-logo{
    color: #F2BED1;
}
.header-navbar{
    display: flex;
    align-items: center;
    
}
.header-list-link-page{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(21, 21, 21);
}
.header-link-page{
    margin: 0 10px;
}
.header-link-page a{
    color: #000;
    font-weight: 500;
}

.header-list-control{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-control{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.header-control a ion-icon{
    font-size:25px;
    color: #000;
}
.slider{
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-content{
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 178px);
}
.slider-content-image{
    width: 70%;
    height: 100%;
}
.slider-content-image-btn{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-content-image .image-slider{
    position: relative;
    width:100%;
    height: 100%;
    top: calc(25% - 89px);
}
.slider-content-image .image-slider img{
position: absolute;
  width: 80%;
  height: 100%;
  right: -5%;
  border-radius: 20px;
}
.slider-content-text{
    position: absolute;
    left: -5%;
    top: 25%; 
}
.slider-content-text-main{
    background-color: #f79fbfaa;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px 15px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 600;
}
.slider-content-text-link{
    float: right;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.slider-content-image-btn-left ion-icon{
    font-size: 50px;
    color: #f8528f;
}


.product-featured{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 300px);

}
.product-featured-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}
.feature-img{
    width: 200px;
    height: 200px;
    top: 127px;
    left: 30px;
    border-radius: 40px;

}
.featured-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}
.feature-left-item{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.featured-left-item-content{
    margin-left: 20px;
}
.featured-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}
.feature-right-item{
    display: flex;
    align-items: center;
    padding: 20px;
}
.featured-left-item-price{
    font-weight: 501;
    width: 100%;
    text-align: center;
}
.featured-right-item-price{
    font-weight: 501;
    width: 100%;
    text-align: center;
}
.featured-right-item-content{
    margin-right: 20px;
}
.featured-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height:100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.featured-center-title{
    font-size: 50px;
    font-weight: 900;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;

}
.featured-center-btn{
    background: #F2BED1;
    width: 100px;
    height: 80px;
    top: 466px;
    left: 618px;
    border-radius: 20px;
    border: none;

}

.footer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px 50px;
    background: linear-gradient(180deg, rgba(253, 206, 223, 0) 20.83%, #FDCEDF 88.54%);

}
.footer-left{
    width: 70%;
    display: flex;
}
.footer-left-title {
    font-size: 18px;
    font-weight: 600;
    color: #444343;
    margin-bottom: 10px;
}
.footer-left-item{
    margin: 20px;
}
.footer-list-link{
    width: 100%; 
    
}
.footer-item-link a{
    color: #353434;
}
.footer-right{
    width: 30%;
}
.footer-right-title{
   margin-bottom: 10px;
}
.footer-right-input{
    border: none;
    border-radius: 10px;
    width: 90%;
    padding: 5px 20px;
    
}
